<%- include('../partials/header.ejs', { user }) %>

<% data.forEach(exercise => { %>
  <% let inFavorites = false %>
  <% user.exercises.forEach(fav => { %>
  <% if (fav.name === exercise.name && fav.type === exercise.type && fav.muscle === exercise.muscle && fav.equipment === exercise.equipment && fav.difficulty === exercise.difficulty && fav.instructions === exercise.instructions) { %>
  <% inFavorites = true %>
  <% }}) %>
<div class="container-fluid">
  <div class="row">
    <div class="col">Name: <%= exercise.name %></div>
    <div class="col">Type: <%= exercise.type %></div>
    <div class="col">Muscle: <%= exercise.muscle %></div>
    <div class="col">Equipment: <%= exercise.equipment %></div>
    <div class="col">Difficulty: <%= exercise.difficulty %></div>
  </div>
  <div class="row">
    <div class="col-auto">Instructions:</div>
    <div class="col-auto ms-auto">
      <% if (inFavorites) { %>
      <form action="/exercises" method="DELETE">
      <% } else { %>
      <form action="/exercises" method="POST">
      <% } %>
        <input hidden type="text" name="name" value="<%= exercise.name %>">
        <input hidden type="text" name="type" value="<%= exercise.type %>">
        <input hidden type="text" name="muscle" value="<%= exercise.muscle %>">
        <input hidden type="text" name="equipment" value="<%= exercise.equipment %>">
        <input hidden type="text" name="difficulty" value="<%= exercise.difficulty %>">
        <input hidden type="text" name="instructions" value="<%= exercise.instructions %>">
        <% if (inFavorites) { %>
          <input type="submit" value="Remove Favorite">
        <% } else { %>
          <input type="submit" value="Favorite">
        <% } %>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col"><%= exercise.instructions %></div>
  </div>
</div>
<hr>
<% }) %>

<%- include('../partials/footer.ejs') %>